{:paths ["src" "resources"]

 :mvn/repos {"acn-snapshots" {:url "https://repo.deps.co/aircraft-noise/snapshots"}
             "acn-releases"  {:url "https://repo.deps.co/aircraft-noise/releases"}}

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:mvn/artifact-id honeysql-postgis
  :mvn/group-id    com.dcj
  :mvn/version     "0.3.0-SNAPSHOT"
  :jar/filename    "honeysql-postgis.jar"

  :jar {:replace-deps
        {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar         :jar/filename
                    :artifact-id :mvn/artifact-id
                    :group-id    :mvn/group-id
                    :version     :mvn/version
                    :sync-pom    true}}

  :deploy {:extra-deps {com.dcj/deps-deploy {:mvn/version "2.0.999-SNAPSHOT"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? false
                       :artifact :jar/filename
                       :repository "acn-snapshots"}}}

 }
